<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<!-- Tällä sivulla käyttäjä voi lisätä uusia postauksia -->

<body>
	<div class="container w-25 text-center">
		<h1>Add post</h1>
			<form th:object="${post}" th:action="@{save}" action="#" method="post">
				<div class="form-group">
					<label for="postString">Post</label>
					<input type="text" class="form-control" id="postString" th:field="*{postString}" />
				</div>
				<div class="form-group">
				  	<label for="">Email</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" />
				</div>
				<div class="form-group">
				  	<label for="phone">Phone number</label>
					<input type="text" class="form-control" id="phone" th:field="*{phone}" />
				</div>
				<div class="form-group">	
					<label for="arealist">Area</label>
					<select id="arealist" th:field="*{area.areaid}" class="form-control">
						<option
							th:each="area: ${areas}"
							th:value="${area.areaid}"
							th:text="${area.name}"
						></option>
					</select>
				</div>
					<input class="btn btn-success" type="submit" value="Save"></input>
			</form>
	</div>
</body>
</html>